{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
    {% include 'head.html ' %}
</head>

<body>
<!--Navbar Start-->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <!-- LOGO -->
        <a class="navbar-brand logo" href="{% url 'home' %}">
            خانه
        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <!--Nav Links-->
                <li class="nav-item">
                    <a href="#" class="nav-link active" data-scroll-nav="0">خانه</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-scroll-nav="1">درباره من</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-scroll-nav="2">سرویس ها</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'blog_list' %}" class="nav-link" >وبلاگ</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-scroll-nav="5">تماس با من</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Navbar End-->

<!--Home Section Start-->
<section id="home" class="banner banner-centered"
         style="background-image: url('{% static 'images/background/heder.png' %}')"
         data-stellar-background-ratio=".7" data-scroll-index="0">
    <!--Banner Content-->
    <div class="banner-caption">
        <h1>سلام من پوریا هستم <br>
            <hr>
            در خدمت شما
        </h1>

    </div>
    <div class="arrow bounce">
        <a class="fa fa-chevron-down fa-2x" href="#" data-scroll-nav="1"></a>
    </div>

    <svg id="home-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1400 300" preserveAspectRatio="none">
        <path class="p-curve"
              d="M-0.2,0.5c0,0-21.7,99.6,233.1,99.6s320.1,199.7,467.6,200.1S898.6,100,1167.6,100S1401,0,1401,0v301H0 L-0.2,0.5z"/>
    </svg>
</section>

<!--Home Section End-->

<!--About Section Start-->
<section class="about pt-100 pb-100" data-scroll-index="1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <!--About Image-->
                <div class="about-img">
                    <img src="{% static 'images/my_photo.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <!--About Content-->
                <div class="about-content">
                    <div class="about-heading">
                        <h2>درباره من</h2>
                    </div>
                    <p>
                        من پوریا هستم؛ برنامه‌نویس و فعال در حوزه فناوری. به اشتراک‌گذاری دانش و کمک به رشد دیگران بخشی
                        جدایی‌ناپذیر از مسیر حرفه‌ای من است. تخصص اصلی من توسعه با زبان Python و فریم‌ورک Django است و
                        در کنار آن با JavaScript نیز تجربه عملی دارم. همیشه در حال یادگیری و علاقه‌مند به ساختن ابزارها
                        و محصولاتی هستم که زندگی دیجیتال را ساده‌تر و کارآمدتر می‌کنند
                    </p>

                    <span class="about-button">
                                <a class="main-btn" href="{% url 'resume' %}">مشاهده رزومه</a>
                            </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About Section End-->

<!--Services Section Start-->
<section class="services bg-gray pt-100 pb-50" data-scroll-index="2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="heading text-center">
                    <h2>کاری که من می توانم انجام دهم</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for task in tasks %}
                <div class="col-md-4">
                    <!--Service Item-->
                    <div class="service-item">
                    <span class="icon">
                        <i class="{{ task.icon|default:'fa fa-cogs' }}"></i>
                    </span>
                        <h4>{{ task.title }}</h4>
                        <p>{{ task.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!--Services Section End-->

<!--Stats Section Start-->
<section class="stats pt-100 pb-100" style="background-image: url('images/background/stats-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <!--Stats Item-->
                <div class="single-stat">
                            <span class="stat-icon">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </span>
                    <h2 class="counter" data-count="220">10</h2>
                    <p>مشتریان خوشحال</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <!--Stats Item-->
                <div class="single-stat">
                            <span class="stat-icon">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            </span>
                    <h2 class="counter" data-count="700">20</h2>
                    <p>پروژه های تکمیل شده</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <!--Stats Item-->
                <div class="single-stat">
                            <span class="stat-icon">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </span>
                    <h2 class="counter" data-count="1100">10</h2>
                    <p>خطوط کد</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <!--Stats Item-->
                <div class="single-stat">
                            <span class="stat-icon">
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                            </span>
                    <h2 class="counter" data-count="160">15</h2>
                    <p>جوایز به دست آمده</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Stats Section End-->


<!--Blog Section Start-->

<section class="blogs pt-100 pb-100 bg-gray" data-scroll-index="4">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="heading text-center">
                    <h6>وبلاگ</h6>
                    <h2>آخرین خبرها</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-carousel owl-theme">
                {% for post in latest_posts %}
                    <!--Blog Item-->
                    <div class="blog-item">
                        <div class="blog-img">
                            <a href="{% url 'blog_detail' slug=post.slug %}">
                                {% if post.image %}
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                {% else %}
                                    <img src="{% static 'images/blog/default.jpg' %}" alt="{{ post.title }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.content|truncatewords:20 }}</p>
                            <div class="blog-meta">
                                <span class="more">
                                    <a href="{% url 'blog_detail' slug=post.slug %}">مطالعه بیشتر</a>
                                </span>
                                <span class="date">
                                    {{ post.created_at|date:"d F Y" }}
                                </span>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <!--اگر پستی نبود-->
                    <div class="col-12 text-center">
                        <p style="padding: 40px; color: #666;">هنوز پستی منتشر نشده است.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="blog-button pt-40">
                    <a class="main-btn" href="{% url 'blog_list' %}">مشاهده همه</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Blog Section End-->

<!--Testimonials Section Start-->
<section class="testimonials pt-100 pb-100" style="background-image: url('images/background/testimonials-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="owl-theme text-center">
                    {#                    <!--Testimonials Item-->#}
                    <div class="testimonial-item">
                        <div class="author-img">
                            <img src="{% static 'images/my_photo.jpg' %}" alt="">
                        </div>
                        <h5>پوریا</h5>
                        <span>برنامه نویس خلاق</span>
                        <p>
                            برنامه‌نویس خلاق فردی است که توانایی ترکیب دانش فنی با نگاهی نوآورانه را دارد و می‌تواند
                            راه‌حل‌هایی کارآمد، منعطف و مقیاس‌پذیر برای پروژه‌های نرم‌افزاری ارائه دهد. این نقش نیازمند
                            تسلط بر فناوری‌های روز، درک معماری‌های مدرن و توانایی طراحی و پیاده‌سازی سیستم‌هایی است که
                            علاوه بر عملکرد مناسب، تجربه کاربری مطلوبی نیز ایجاد کنند
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--Testimonials Section End-->

<!--Contact Section Start-->
<section class="contact pt-100 pb-100" data-scroll-index="5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="heading">
                    <h6>تماس</h6>
                    <h2>در تماس باشید</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <!--Contact Form-->


                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="container-lg border border-success">
                    <br>
                        <div class="input-group mb-3">
                            <input type="text" name="name" class="form-control" placeholder="نام " aria-label="Username"
                                   aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="email" placeholder="ایمیل"
                                   aria-label="Recipient’s username"
                                   aria-describedby="basic-addon2">
                        </div>

                        <div class="input-group">
                            <textarea class="form-control" name="massage" aria-label="With textarea"
                                      placeholder="چگونه میتوانم به شما کمک کنم؟"></textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success">ارسال پیام</button>
                        <br>
                        <br>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<!--Contact Section End-->

<!--Footer Start-->
<footer class="pt-50 pb-50">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>ساخته شده توسط</h5>
                    <p>پوریا افشاری کیا</p>
                </div>

            </div>
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>تلفن</h5>
                    <p>{{ footer.phone }}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>ایمیل</h5>
                    <p>{{ footer.email }}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>آدرس</h5>
                    <p>{{ footer.address }}</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->

{% include 'scrips.html' %}
</body>
</html>

