{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <title>رزومه من</title>
    <link rel="stylesheet" href="{% static 'css/my_resume.css' %}?v=123">


</head>
<body>


    <a href="{% url 'home' %}" class="resume-container__back-home">🏠 بازگشت به خانه</a>


<div class="container">
    <div class="header">

        {% if site.profile_image %}
            <img src="{{ site.profile_image.url }}" alt="{{ site.full_name }}" class="profile-img">

        {% endif %}

        <h1 class="name">{{ site.full_name }}</h1>
        <p class="title">{{ site.title }}</p>
        <div class="contact-info">
            <div class="contact-item">
               {{ site.email }}
            </div>
            <div class="contact-item">
                {{ site.phone }}
            </div>
            <div class="contact-item">
                <a id="github" href="https://github.com/poriya-afshar" >{{ site.github }}</a>
            </div>
            <div class="contact-item">
                {{ site.linkedin }}
            </div>
        </div>
    </div>

    <div class="content">
        <div class="section">
            <h2 class="section-title">درباره من</h2>
            <p class="description">
                {{ site.about }}
            </p>
        </div>

        <div class="section">
            <h2 class="section-title">مهارت‌های تخصصی</h2>
            <div class="skills-grid">
                {% for skill in skills %}
                    <div class="skill-card">
                        <div class="skill-name">{{ skill.name }}</div>
                        <div class="skill-bar">
                            <div class="skill-progress" style="width: {{ skill.level }}%">
                                {{ skill.level }}%
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="section">
            <h2 class="section-title">سوابق کاری</h2>
            {% for exp in experiences %}
                <div class="experience-item">
                    <div class="job-title">{{ exp.job_title }}</div>
                    <div class="company">{{ exp.company }}</div>
                    <div class="duration">
                        {{ exp.start_year }} -
                        {% if exp.end_year %}{{ exp.end_year }}{% else %}اکنون{% endif %}
                    </div>
                    <p class="description">{{ exp.description }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="section">
            <h2 class="section-title">پروژه‌های برجسته</h2>
            {% for  project  in projects %}
                <div class="project-card">
                    <div class="project-title">{{ project.title }}</div>
                    <div class="project-tech">{{ project.tech }}</div>
                    <p class="description">{{ project.description }}</p>

                    {% if project.link %}
                        <a href="{{ project.link }}" target="_blank">مشاهده پروژه</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="section">
            <h2 class="section-title">تحصیلات</h2>
            {% for edu in educations %}
                <div class="education-item">
                    <div class="degree">{{ edu.degree }}</div>
                    <div class="university">{{ edu.university }}</div>
                    <div class="duration">{{ edu.duration }}</div>
                    <p class="description">{{ edu.description }}</p>
                </div>

            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>